@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: #3e444a;
    background-color: #f2f2f2
}

.base_color {
    color: #f2f2f2
}

i {
    @apply text-gray-400
}

.btn-edit {
    @apply px-4 py-2 bg-blue-500 rounded text-white
}

.btn-danger {
    @apply px-4 py-2  bg-red-500 rounded text-white
}

.btn-success {
    @apply px-4 py-2 bg-green-500 rounded text-white
}

.btn-secondary {
    @apply px-4 py-2 bg-gray-500 rounded text-white
}
